body {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
    ),
    url(https://static.vecteezy.com/system/resources/thumbnails/003/135/131/original/light-leak-pink-purple-gradient-loop-on-dark-free-video.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

/* App.js */
.app-body h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    color: #ffc6e0;
    margin-top: 16px;
}
.app-body p {
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #ffc6e0;
}

/* videoPlayer.jsx */
.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.video-container h3 {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    color: #ffc6e0;
    font-family: 'Comfortaa', cursive;

}

.video {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 600px;
}
.video-box {
    min-height: 300px;
    max-height: 400px;
    min-width: 500px;
    padding: 5px;
    padding-bottom: 5px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* options.jsx */
.option-container {
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid #ff85b8;
    border-radius: 10px;
}
.option-before-call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.option-before-call h6 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.option-before-call input {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px;
}
.option-before-call button {
    font-size: 16px;
    margin-left: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #ff85b8;
    border: 0px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s linear;
}
.option-before-call button:hover {
    background-color: #f94f96;
}

/* notification.jsx */
.notification-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notification-container h3 {
    font-family: 'Roboto', sans-serif;
}
.notification-container button {
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ff85b8;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s linear;
}
.notification-container button:hover {
    background-color: #f94f96;
}
